<div class="header-wrapper">
  <div class="left-side">
    <button *ngIf="menuIsOpen" pButton type="button" (click)="onChangeMenuClick()" icon="pi pi-times"
      class="ui-button-secondary menu-change-button"></button>
    <button *ngIf="!menuIsOpen" pButton type="button" (click)="onChangeMenuClick()" icon="pi pi-bars"
      class="ui-button-secondary menu-change-button"></button>
    <label class="title">Angular interview</label>
  </div>
  <div class="right-side">

  </div>
</div>
