<p-table [value]="users">
  <ng-template pTemplate="header">
    <tr (click)="selectUser(-1)">
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Birthdate</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr (click)="selectUser(user.id)" [ngClass]="{'selected-user': selectedUserId === user.id }">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.birthdate | date }}</td>
    </tr>
  </ng-template>
</p-table>

<div class="buttons-container">
  <button pButton class="ui-button-success" label="Új" (click)="addUser()" type="button"></button>
  <button pButton class="ui-button-warning" label="Módosítás" [disabled]="selectedUserId < 0" (click)="updateUser()"
    type="button">
  </button>
  <button pButton class="ui-button-danger" label="Törlés" [disabled]="selectedUserId < 0" (click)="deleteUser()"
    type="button">
  </button>
  <button pButton class="ui-button-secondary help-button" label="?" (click)="op1.toggle($event)" type="text"></button>
</div>

<div>
  <p-overlayPanel #op1>
    <p class="help-text">
      A felhasználók szerkesztéséhez/törléséhez, kattintson a szerkesztendő/Törlendő felhasználó sorára.
      Utána kattinthat rá a Módosítás vagy a Törlés gombra.
      A kijelölés megszüntetéséhez kattintson a fejlécre.
    </p>
  </p-overlayPanel>
</div>
