.selected-user {
  background-color: darken(#f9f9f9, 5%) !important;
}

.buttons-container {
  padding-top: 15px;
}

.buttons-container > button {
  margin-right: 10px;
}

.help-button {
  float: right;
  margin: 0px;
}

.help-text {
  text-align: center;
  width: 50vw;
}
