<h3>{{title}}</h3>
<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <span>
      <label for="input-name">Név</label>
      <input id="input-name" (keyup)="onInputChange($event)" name="name" type="text" size="30" pInputText
        [value]="user.name">
    </span>
  </div>

  <div class="ui-g-12">
    <span>
      <label for="input-address">Cím</label>
      <input id="input-address" (keyup)="onInputChange($event)" pInputText name="address" [value]="user.address">
    </span>
  </div>

  <div class="ui-g-12">
    <span>
      <label for="input-email">Email</label>
      <input id="input-email" (keyup)="onInputChange($event)" pInputText name="email" [value]="user.email">
    </span>
  </div>

  <div class="ui-g-12">
    <span>
      <label for="input-birthdate">Születésnap</label>
      <p-calendar id="input-birthdate" [inline]="true" [monthNavigator]="true" [yearNavigator]="true"
        yearRange="1900:{{currentYear}}" [(ngModel)]="user.birthdate" (onFocus)="onInputChange($event)"
        (onInput)="onInputChange($event)" name="birthdate"></p-calendar>
    </span>
  </div>

  <div class="ui-g-12">
    <p-button label="Save" (onClick)="updateUser()" float="right"></p-button>
  </div>
</div>
